body {
  margin: 0;
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  align-items: center; */
}

.lights{
  width: 220px;
  height: 620px;
  border-radius: 20px;
}

.btn{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.holder{
  width: 30px;
  height: 200px;
  
}

.light{
  width: 200px;
  height: 200px;
}

.circle{
  width: 180px;
  height: 180px;
}

.highlight{
  box-shadow: 0 0 30px 25px rgba(255, 255, 255, 0.745) ;
}
